<div class="d-flex justify-content-end">
  <div class="chat-message chat-message-sent">
    <p class="mb-0">
      <%= message.content %>
      <br>
    </p>
  </div>
</div>
<%# Scrool del mouse abajo %>
<%# mitad en cada div %>
