// Define variables for your color scheme

// For example:
$blue: #0D6EFD;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red: #FD1015;
$orange:  #fd8421;
$yellow: #ffc107;
$green: #1EDD88;
$teal:    #20c997;
$cyan:  #259fa7;

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$light-gray: #F4F4F4;
$gray: #0E0000;
// $orange-primary: #E67E22;
