// Specific CSS for your home-page

.text-justify {
  text-align: justify;
}

.circle-number{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid black; /* Contorno del círculo */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px; /* Tamaño del texto */
  font-weight: bold;
  text-align: center;
  line-height: 50px; /* Centra verticalmente el texto */
  margin: 0 auto;
}

body {
  height: 100vh;
}
