<div class="container my-5">

  <h1 class="m-0 pb-3">My Pets</h1>

  <% if @pets.any? %>
    <div class="row g-4">
      <% @pets.each do |pet| %>
        <%= render partial: "card", locals: { pet: pet } %>
      <% end %>
    </div>
  <% else %>
    <p>No pets found.</p>
  <% end %>
</div>
