<div class="bg-white">
  <div class="container pb-4">
    <h1 class="my-4">Booked services for your <span class="fw-bold text-orange">Pets</span></h1>
    <div class="container-section">
      <% @bookings.reverse.each do |booking| %>
        <%= render 'bookings/booking_card', booking: booking %>
      <% end %>
    </div>
  </div>
</div>
