.mapboxgl-ctrl-geocoder {
  max-width: none;
  width: 100%;
  border: 1px solid #dee2e6;
  box-shadow: none;
  background-color: transparent;
  border-radius: 8px;

  input {
    width: 100%;
    border: none;
    background-color: transparent;
    height: 38px;
    padding: 0 10px;
    border-radius: 8px;
  }

  input:focus-visible {
    outline: none;
  }
  input:focus {
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    border-color: #86b7fe;
    border-radius: 0.125rem;
  }
  .suggestions {
    // @extend .list-group;

    // li, a {
    //   @extend .list-group-item.list-group-item-action;
    // }
    .mapboxgl-ctrl-geocoder--powered-by {
      @extend .d-none;
    }
  }
  &--icon-search, &--icon-loading {
    @extend .d-none;
  }
  &--pin-right{
    position: absolute;
    top: -1px;
    right: 0;
  }
  &--button{
    border: none;
    border-radius: 100%;
    padding: 2px 5px;
    background-color: transparent;
  }
}
