.login-img-container {
  background-image: url(https://images.pexels.com/photos/1108099/pexels-photo-1108099.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=600&w=1000);
  background-size: cover;
  background-position: center;
  height: 100%;
}

.user-container {
  height: 75vh;
  font-size: 10px;
}

.button-group * {
   text-decoration: none;
  padding: 5px;

}

.row {
  height: 100%;


}

.form-card {
  height: 100%;

}

.form-control {
  border-radius: 8px;
  background: transparent;
  font-size: 10px;
    &:focus {
    border: 1px solid #FD8522;
    box-shadow: 0 0 0 1px #FD8522;
    background: transparent;
    &::placeholder {
      color: transparent;
    }
  }
}

@media (max-width: 768px) {
  .login-img-container {
    display: none;
  }
  .user-container {
    max-width: 80vw;
  }
}

.form-control::placeholder {
  color: #333;
}
