.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-customer {
  .active {
    color: $orange !important;
    font-weight: 500;
    border-bottom: 2px solid;
    background-color: transparent;
  }
  .navbar-nav .dropdown-menu {
    position: absolute !important;
  }
  .dropdown-menu {
    padding: 0;
    background-color: #ffffff;
  }
  .dropdown-item.active, .dropdown-item:active {
    @extend .text-orange.bg-orange.bg-opacity-25;
  }
}
.cursor-pointer {
  cursor: pointer;
}
